@import "tailwindcss";
:root {
    --framer-font-family: "Clash Display", "Clash Display Placeholder", sans-serif;
    --framer-font-size: 100px;
    --framer-line-height: 0.8;
    --framer-letter-spacing: -0.06em;
    --framer-text-color: var(--token-c09d492a-e729-4cbb-b155-5952e8c0f0ee, #faf5ea);
  }
  